[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For an introductory tutorial on how to use Jenkins to build a simple Java application with Maven.
[access "refs/*"]
	owner = group user/hareesh24
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/hareesh24
	label-Verified = -1..+1 group user/hareesh24
	push = group user/hareesh24
	read = group user/hareesh24
	rebase = group user/hareesh24
	removeReviewer = group user/hareesh24
	submit = group user/hareesh24
[access "refs/heads/*"]
	create = group user/hareesh24
	push = +force group user/hareesh24
	pushMerge = group user/hareesh24
	read = group user/hareesh24
[access "refs/tags/*"]
	push = group user/hareesh24
	push = +force group user/hareesh24
